<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorSite</title>
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-page="/Index">RootIndex</a>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
